1.2 Basic Syntax
#1.2.1 Python Syntax and Code Structure

In [1]:
##Indentation
#Python uses indentation to define code blocks. Consistent indentation is crucial.
if True:
    print("Hello, World!")  # Indented block of code

Hello, World!

In [5]:
##Comments
# for single-line comments and triple quotes (''' or """) for multi-line comments.
# This is a single-line comment
"""
This is a
multi-line comment
"""

'\nThis is a\nmulti-line comment\n'

#1.2.2 Variables and Data Types
##Variables
Variables store data values and are created when first assigned a value. They are dynamically typed.

In [7]:
x = 10  # integer
y = 20.5  # float
name = "Alice"  # string
is_active = True  # boolean

In [11]:
#Multiple Assignments
x = y = z = 1
x, y, z = 1, 2.39, 'cat'

##Data Types
Integers (int): Whole numbers without decimals.
Floats (float): Numbers with decimals.
Strings (str): Sequence of characters.
Booleans (bool): Represents True or False.

1.2.3 Error Types
Syntax Errors: Incorrect syntax detected before code execution.
Runtime Errors (Exceptions): Errors that occur during execution, like division by zero.
Logical Errors: Code runs but produces incorrect results due to flawed logic.

#1.3 Basic Operations

In [29]:
##1.3.1 Assignment Operator
#Assign values to variables with =.

In [31]:
##1.3.2 Arithmetic Operations
a = 10
b = 3        
print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.3333
print(a % b)  # Modulus: 1
print(a ** b) # Exponentiation: 1000
print(a // b) # Floor division: 3

13
7
30
3.3333333333333335
1
1000
3

In [35]:
##1.3.3 Logical Operators
print(5 > 3 and 10 < 15)  # True
print(5 > 3 or 10 > 15)   # True
print(not 5 > 10)         # TRUE

True
True
True

In [39]:


##1.3.4 Comparison Operators
print(5 > 3)   # True
print(5 < 3)   # False
print(5 >= 5)  # True
print(5 <= 5)  # True
print(5 != 3)  # True
print(5 == 5)  # True

True
False
True
True
True
True

In [41]:
##1.3.5 Identity Operators
x = [1, 2, 3]
y = x
print(x is y)       # True
print(x is not y)   # False

y = [1, 2, 3]
print(x is not y)   # True

True
False
True

In [43]:

##1.3.6 Membership Operators
fruits = ["apple", "banana"]
print("banana" in fruits)      # True
print("cherry" not in fruits)  # True

True
True

In [45]:
##1.3.7 String Operations
s = "Hello"
print(s + " World")  # Concatenation: Hello World
print(s * 3)         # Repetition: HelloHelloHello
print(s[1])         # Indexing: e
print(s[1:4])       # Slicing: ell

Hello World
HelloHelloHello
e
ell

In [47]:
##1.3.8 Input and Output
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name:  ODEDE

Hello, ODEDE

In [51]:
#1.4 Control Structures
##1.4.1 Conditional Statements
x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")

x is greater than 5

In [53]:




##1.4.2 Loops
#For Loop

for i in range(5):
    print(i)  # Output: 0, 1, 2, 3, 4

text = "hello"
for char in text:
    print(char)

0
1
2
3
4
h
e
l
l
o

In [55]:
##While Loop
count = 0
while count < 5:
    print(count)
    count += 1

text = "hello"
index = 0
while index < len(text):
    print(text[index])
    index += 1

0
1
2
3
4
h
e
l
l
o

In [65]:
#1.5 Functions
##1.5.1 Create Function
def add(a, b):
    result = a + b
    return result

def calculate_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "F"
        # Example usage
grade = calculate_grade(85)
print("Your grade is:", grade)  # Output: Your grade is:B

Your grade is: B

In [67]:


##1.5.2 Built-in Functions
print(len("Hello"))     # Length of string: 5
print(max(10, 20, 5))  # Maximum value: 20
print(min(10, 20, 5))  # Minimum value: 5
print(sum([1, 2, 3]))  # Sum: 6
print(type("Hello"))   # Type: <class 'str'>
print(range(5))        # Range object: range(0, 5)
print(abs(-10))        # Absolute value: 10
print(sorted([3, 1, 2]))  # Sorted list: [1, 2, 3]

5
20
5
6
<class 'str'>
range(0, 5)
10
[1, 2, 3]

1.6 Questions
Question 1
Write a Python program that takes a student's name, age, and three subject scores as input and calculates the average score. Based on the average score, determine and print the student's grade using the grading scale provided:

In [72]:

def calculate_grade(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    elif score >= 60:
        return "D"
    else:
        return "F"

def main():
    name = input("Enter student's name: ")
    age = int(input("Enter student's age: "))
    scores = []
    for i in range(3):
        subject_score = float(input(f"Enter score for subject {i+1}: "))
        scores.append(subject_score)
    average_score = sum(scores) / len(scores)
    grade = calculate_grade(average_score)
    print(f"Student Name: {name}")
    print(f"Student Age: {age}")
    print(f"Average Score: {average_score}")
    print(f"Grade: {grade}")

if __name__ == "__main__":
    main()

Enter student's name:  Awino
Enter student's age:  12
Enter score for subject 1:  15
Enter score for subject 2:  40
Enter score for subject 3:  40

Student Name: Awino
Student Age: 12
Average Score: 31.666666666666668
Grade: F

In [ ]:
Question 2
Write a Python program that prompts the user to input two numbers and performs the following operations:

Calculate the sum of the two numbers.
Calculate the absolute difference between the two numbers.
Determine if the first number is greater than, less than, or equal to the second number.
Concatenate the two numbers as strings.
Repeat the concatenation of the two numbers three times.
Based on the sum of the two numbers, determine and print a message:
If the sum is greater than 100, print "Big sum!"
If the sum is between 50 and 100 (inclusive), print "Medium sum!"
If the sum is less than 50, print "Small sum!"

In [74]:

def main():
    num1 = float(input("Enter the first number: "))
    num2 = float(input("Enter the second number: "))

    # Sum
    total = num1 + num2
    print("Sum:", total)

    # Absolute difference
    difference = abs(num1 - num2)
    print("Absolute Difference:", difference)

    # Comparison
    if num1 > num2:
        print("The first number is greater than the second number.")
    elif num1 < num2:
        print("The first number is less than the second number.")
    else:
        print("The first number is equal to the second number.")

    # Concatenation
    concat = str(num1) + str(num2)
    print("Concatenation:", concat)

    # Repetition
    repeated_concat = concat * 3
    print("Repeated Concatenation:", repeated_concat)

    # Message based on sum
    if total > 100:
        print("Big sum!")
    elif 50 <= total <= 100:
        print("Medium sum!")
    else:
        print("Small sum!")

if __name__ == "__main__":
    main()

Enter the first number:  12
Enter the second number:  15

Sum: 27.0
Absolute Difference: 3.0
The first number is less than the second number.
Concatenation: 12.015.0
Repeated Concatenation: 12.015.012.015.012.015.0
Small sum!