In [11]:
#string operation 
#1 concatenation(+)
first ="ongati" 
second="Gloria" 
first+second,first+" "+second

('ongatiGloria', 'ongati Gloria')

In [12]:
#2 Repetition(*)
first*6,

('ongationgationgationgationgationgati',)

In [19]:
#3 indexing 
# used to acess letters in a string
second = "Gloria"
second[0]

'G'

In [26]:
fullname=first+" "+second #slicing ,it goes according to the numbrering from 0 
fullname,fullname[0:6],fullname[7:13]

('ongati Gloria', 'ongati', 'Gloria')

In [29]:
#input:allows users to key in data
#print:allows dispalyof data 
name = input("Enter first name:")

Enter first name: ongati

In [28]:
print(name)

ongati

In [ ]:
#control structures 
#1;loops,used to execute block of codes repetively
   #1a; for loop

In [32]:
for i in range (11):
     print (i)

0
1
2
3
4
5
6
7
8
9
10

In [35]:
for chr in fullname:
    print (chr)

o
n
g
a
t
i

G
l
o
r
i
a

In [41]:
for i in range (1,5,1):
     print (i)

1
2
3
4

In [46]:
  for chr in first:
        print (chr)

o
n
g
a
t
i